# dependencies
node_modules

# sst
.sst
.build

# opennext
.open-next

# misc
.DS_Store

# build
dist
dist-ssr
*.local


# local env files
.env*.local
.env

# logs
logs
*.log
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
