# dependencies
node_modules
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# sst
.sst
.build

# opennext
.open-next

# misc
.DS_Store
*.pem

# build
dist
dist-ssr
*.local

# local env files
.env*.local
.env

# logs
logs
*.log
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# testing
/coverage

# next.js
**/.next/
out/

# production
/build

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
